<aside class="main-sidebar">
    <section class="sidebar">
        <img src="assets/img/twogether.png" class="img-responsive" style="padding:10px 20px;" /><br />
        <div ng-show="!user">
            <p class="text-white text-center">You will need to sign in</p>
            <a class="btn btn-block btn-social btn-google" ng-click="signin()"><i class="fa fa-google-plus"></i> Sign in with Google</a><br />
        </div>
        <div ng-show="user">
            <img src="{{user.photoURL}}" class="img-responsive" /><br />
            <p class="text-white text-center">Hello {{ user.displayName }}</p>
            <center><a class="btn btn-google" ng-click="signout()">Signout</a></center>
        </div>
    </section>
</aside>