<!DOCTYPE html>
<html ng-app="TranslationApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Translation Generator</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
        <base href="/" />
        <link rel="stylesheet" href="dist/css/skins/skin-twogether.css">
        <link rel="stylesheet" href="dist/css/custom.css" />
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="angular.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
        <script src="https://use.fontawesome.com/cf72e7442c.js"></script>
    </head>
    <body class="hold-transition skin-twogether sidebar-mini" ng-controller="GlobalController">
        <div class="wrapper">
            <ng-include src="'views/partials/sidebar.html'"></ng-include>
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="row spacer-lg">
                        <div class="col-md-12">
                            <a class="btn btn-lg btn-info" href="downloads/template.xlsx">Download template</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-show="alertShow" class="alert {{alertClass}} alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{alertMessage}}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Upload</h3>
                                </div>
                                <div class="box-body">
                                    <!-- <input type="file" name="xlfile" id="xlf" /> ... or click here to select a file -->
                                    <div class="alert alert-sm alert-warning">IMPORTANT: please make sure that all cells are populated, even if there is no copy for the variable, (e.g. A4 - 'text' then B4 - 'text', C4 - 'text' etc...)</div>
                                    <js-xls class="file" onread="read" onerror="error"></js-xls> 
                                </div>
                            </div>
                            
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Language options</h3>
                                    <!-- <pre>{{ ExcelCopy | json }}</pre> -->
                                    <!-- <pre>{{ FinalExcelCopy | json }}</pre> -->
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <tr ng-repeat="(key, value) in ExcelCopy">
                                            <td class="cursor" ng-class="{'bg-primary text-white': defaultLanguage===key}"><a ng-class="{'text-white':defaultLanguage===key}" ng-click="setDefaultLanguage(key)">{{key}}</a></td>
                                            <td style="width:20px;" class="cursor bg-red" ng-click="delete(key)"><i class="fa fa-trash"></i></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="loading" ng-show="loading">
                                <center><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></center>
                            </div>
                            <div ng-repeat="(key, value) in ExcelCopy" class="box collapsed-box" ng-class="{'box-primary':defaultLanguageCode === key, 'box-default':defaultLanguageCode !== key}">
                                <div class="box-header with-border">
                                    <h3 class="box-title">{{key}}</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <table class="table table-striped">
                                        <tr>
                                            <td>Key</td>
                                            <th>Sentence ({{defaultLanguage}})</th>
                                            <th>Sentence ({{key}})</th>
                                        </tr>
                                        <tr ng-repeat="(variable, sentence) in value">
                                            <td>{{ variable }}</td>
                                            <td>{{ ExcelCopy[defaultLanguage][variable] }}</td>
                                            <td>{{ sentence }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="box-footer">
                                    <p><a ng-click="toggle=!toggle" class="btn btn-danger">Output as JSON</a></p>
                                    <pre ng-show="toggle">{{value | json}}</pre>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- <pre><small>{{ ExcelCopy | json }}</small></pre> -->
                            <div ng-repeat="(key, value) in ExcelCopy" ng-class="{'bg-red': (value | count) < (ExcelCopy[defaultLanguage] | count), 'bg-green': (value | count) >= (ExcelCopy[defaultLanguage] | count)}" class="info-box">
                                <span class="info-box-icon"><i class="ion ion-ios-flag-outline"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">{{key}}</span>
                                    <span class="info-box-number">{{value | count}} Translations</span>
                                    <div class="progress">
                                        <div class="progress-bar" ng-style="{'width':(value | percentage:ExcelCopy[defaultLanguage]) + '%' }"></div>
                                    </div>
                                    <span class="progress-description">
                                        {{value | percentage:ExcelCopy[defaultLanguage] | number: 0 | limitTo: 100}}% Complete
                                    </span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <button class="btn btn-success" ng-click="save()">Save</button>
                            <button class="btn btn-success" ng-click="sidebarOpen=true">Helpers</button>
                        </div>
                    </div>
                </section>
            </div>
            <aside class="control-sidebar control-sidebar-dark" ng-class="{'control-sidebar-open': sidebarOpen}">
                <a class="fa fa-times text-white sidebar-close" ng-click="sidebarOpen=false;"></a>
                <div class="tab-content">
                    <div class="tab-pane active" id="control-sidebar-home-tab">
                        <h3 class="control-sidebar-heading">Helpers</h3>
                        <p>Welcome to the helpers panel, here you can find out things about your translations</p>
                        <h3 class="control-sidebar-heading">Find a variable</h3>
                        <select class="form-control spacer-lg" ng-model="searchVariable">
                            <option ng-repeat="(key, value) in ExcelCopy[defaultLanguage]" ng-value="key">{{value}}</option>
                        </select>
                        <div ng-repeat="(key, value) in ExcelCopy">
                            {{key}} - {{value[searchVariable]}}
                        </div>
                    </div>
                    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                    <div class="tab-pane" id="control-sidebar-settings-tab">
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </aside>
        </div>
        <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="app.js"></script>
        <!-- <script src="dist/js/main.js"></script> -->
    </body>
</html>